.BadgeNew__hero {
    width: 100%;
    padding: 2rem 0;
    background: url('../images/stars.svg'), #7d7bf793; 
    background-repeat: no-repeat; 
    margin-bottom: 1rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
  }

  .BadgeNew__hero-img{
    border-radius: 50%;
    max-height: 100px;
  }