.Badges__hero {
    width: 100%;
    background: url('../images/stars.svg'), #9391fa93; 
    margin-bottom: 20px;
  }
  
  .Badges__hero>.Badges__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Badges__container {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .Badges_conf-logo {
    margin: 2rem;
    border-radius: 800px;
    height: 300px;
  }
  
  .Badges__buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
  .list-unstyled{
    margin: 23px;
  }

  .list__style{ 
    /* css padre */
    border: 1px solid #ccc;
    padding: 0 1rem;
    margin: 1rem;
    border-radius: 30px;
    display: flex;  
    background: url('../images/stars.svg'), #ff99ee;
    color: #333;
  }

  .list__style-content{
    text-align: center;
    width: 100%;
    font-weight: 900;

  }
  .img-circle{
    border-radius: 50px;
  }
  .list__style-img{
    margin: 13px;
  }
 