.Badge__NotFount{
    width: 100%;
    height: 100%;
    background: url('../images/stars.svg'), #7d7bf793; 
    background-repeat: repeat; 
    color: #ffffff;
    text-align: center;
    padding: 2rem;
}
h6{
    font-family: 'Yellowtail', cursive;
    font-style: italic;
    font-size: 150px;
}

.Badge__NotFount-img{
    margin: 2rem;
    border-radius: 800px;
    height: 300px;
}