.Badge__index{
    width: 100%;
    height: 100%;
    background: url('../images/stars.svg'), #7d7bf793; 
    background-repeat: repeat; 
    color: #ffffff;
    text-align: center;
    padding: 2rem;
}
h6{
    font-family: 'Yellowtail', cursive;
    font-style: italic;
    font-weight: 300px;
}


.Badge__index-img{
    margin: 2rem;
    height: 400px;
}